@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.combination-string {
    background-color: yellow;
    transition: none;
}

.combination-string-selected {
    background-color: lightblue;
    transition: .5s linear all;
}

.element {
  border: 2px solid green;
  transition: border .5s linear;
}

.element.saved {
  border: 1px solid transparent;
}